<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">PerfMonger Monitor</a>
<!--
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
-->
        </div>
      </div>
    </div>

    <div class="container">
<% devices.each do |dev| %>
      <div id="<%= dev %>_iops_graph" style="width: 100%; height: 600px;"></div>
      <div id="<%= dev %>_throughput_graph" style="width: 100%; height: 600px;"></div>
<% end %>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/canvasjs.min.js"></script>

<pre id="msg">
<%= devices %>
</pre>

<script>
var records = [];

var sector2mb = 512 / 1024.0 / 1024.0;

<% devices.each do |dev| %>
var <%= dev %>_riops_data = [{x: new Date(new Date() - 1000), y: 0.0}];
var <%= dev %>_wiops_data = [{x: new Date(new Date() - 1000), y: 0.0}];
var <%= dev %>_rthroughput_data = [{x: new Date(new Date() - 1000), y: 0.0}];
var <%= dev %>_wthroughput_data = [{x: new Date(new Date() - 1000), y: 0.0}];

var <%= dev %>_iops_chart = new CanvasJS.Chart("<%= dev %>_iops_graph",
{
  title:{
    text: "I/O per second of <%= dev %>",
    },
    axisX: {
      valueFormatString: "HH:mm:ss",
      interval:5,
      intervalType: "second",
    },
      axisY:{
        includeZero: true
      },
      data: [
      {
        type: "line",
        showInLegend: true,
        name: "Read IOPS",
        dataPoints: <%= dev %>_riops_data
      },{
        type: "line",
        showInLegend: true,
        name: "Write IOPS",
        dataPoints: <%= dev %>_wiops_data
      },
      ]
    });
<%= dev %>_iops_chart.render();

var <%= dev %>_throughput_chart = new CanvasJS.Chart("<%= dev %>_throughput_graph",
{
  title:{
    text: "I/O throughput of <%= dev %>",
    },
    axisX: {
      valueFormatString: "HH:mm:ss",
      interval:5,
      intervalType: "second",
    },
      axisY:{
        title: "throughput [MB/s]",
        includeZero: true,
      },
      data: [
      {
        type: "line",
        showInLegend: true,
        name: "Read throughput",
        dataPoints: <%= dev %>_rthroughput_data
      },{
        type: "line",
        showInLegend: true,
        name: "Write throughput",
        dataPoints: <%= dev %>_wthroughput_data
      },
      ]
    });
<%= dev %>_throughput_chart.render();
<% end %>


function add_record(record) {
  if (records.length > 0 && records[records.length - 1]['time'] >= record) {
    // old or duplicate record received
    return;
  }
  records.push(record);

<% devices.each do |dev| %>
  <%= dev %>_riops_data.push({x: new Date(record['time'] * 1000), y: record['ioinfo']['<%= dev %>']['r/s']});
  <%= dev %>_wiops_data.push({x: new Date(record['time'] * 1000), y: record['ioinfo']['<%= dev %>']['w/s']});

  <%= dev %>_rthroughput_data.push({x: new Date(record['time'] * 1000), y: record['ioinfo']['<%= dev %>']['rsec/s'] * sector2mb});
  <%= dev %>_wthroughput_data.push({x: new Date(record['time'] * 1000), y: record['ioinfo']['<%= dev %>']['wsec/s'] * sector2mb});
<% end %>

  last_record = records[records.length - 1];

  while (records[0]['time'] < last_record['time'] - 30.0) {
    records.shift();
<% devices.each do |dev| %>
    <%= dev %>_riops_data.shift();
    <%= dev %>_wiops_data.shift();

    <%= dev %>_rthroughput_data.shift();
    <%= dev %>_wthroughput_data.shift();
<% end %>
  }

<% devices.each do |dev| %>
  <%= dev %>_iops_chart.render();
  <%= dev %>_throughput_chart.render();
<% end %>
}

var handleMessage = function handleMessage( evt ) {
  var record = JSON.parse(evt.data);
  if (record['ioinfo'] != null) {
    add_record(record);
  }
};
var handleEnd = function handleEnd( evt ) {
  evt.currentTarget.close();
}

var source = new EventSource( '/faucet' );
source.addEventListener( 'message', handleMessage, false );
source.addEventListener( 'end'    , handleEnd    , false );
</script>
  </body>
</html>
